#modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  #modal {
    height: 40%;
    width: 40%;
    background-color: antiquewhite;
    border-radius: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .shown {
    display: flex;
  }